body{
    margin: 0; box-sizing: border-box; padding: 0; font-family: 'Josefin Slab', serif; background-color: #ebf4f4;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 60px;
}

#txt-principal{
    font-size: 2.5em;
    padding-bottom: 20px;
}

.decoration{
    animation: decorationTxt 1s alternate infinite;
    position: relative;
    bottom: 40px;
    height: 3px;
    width: 50px;
    background-color: rgb(97, 180, 239);
}

@keyframes decorationTxt{
    from{
        width: 0px;
    }
    to{
        width: 50px;
    }
}

section{
    background-color: #ffff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 6px 1px #acbfbf;
    height: 500px;
    width: 600px;
}

#imgDiv {
    position: relative;
    margin-top: 20px;
    top: 10px;
    left: 200px;
    background-color: rgb(97, 180, 239);
    border-radius: 50%;
    height: 180px;
    width: 200px;
}

img{
    position: relative;
    right: 10px;
    bottom: 8px;
    padding-top: 15px;
    height: 180px;
    width: 190px;
    border-radius: 50%;
}

.nome{
    margin-top: 50px;
}

.cargo{
    font-size: 0.85em;
    position: relative;
    bottom: 15px;
    color: rgb(97, 180, 239)
}

.resumo{
    position: relative;
    bottom: 10px;
    height: 50px;
    text-align:center;
    font-weight: bolder;
}

i{
    margin-top: 10px;
    cursor: pointer;
    font-size: 2em;
    color: rgb(97, 180, 239);
}

button{
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.8em;
    height: 25px;
    width: 110px;
    border: 2px outset rgb(97, 180, 239);
    background-color: rgb(222, 234, 236,0.4);
    color: rgb(97, 180, 239);
    border-radius: 6px 6px 6px 6px;
}
